<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-Update</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-user_list.css" />
</head>

<body>
    <!-- users-list -->
    <div class="title">
        <div id="id">아이디</div>
        <div id="nickname">닉네임</div>
        <div id="email">이메일</div>
    </div><br><br>
    <hr>
    <% for(var i=0; i<data.length; i++) { %>
        <div id="number">
            <%= i+1 %>
        </div>
        <form action="/admin_user_update" method="post">
            <div id="id">
                <input type="text" value="<%= data[i].id %>" name="id">
            </div>
            <div id="nickname">
                <input type="text" value="<%= data[i].name %>" name="nickname">
            </div>
            <div id="email">
                <input type="email" value="<%= data[i].email %>" name="email">
            </div>
            <button type="submit">수정</button>
        </form>
        <form>
            <button type="submit">삭제</button>
        </form>
        <form>
            <button type="submit">목록</button>
        </form>
        <br><br>
        <hr>
        <% } %>
</body>

</html>