<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local-login</title>
    <link rel="stylesheet" type="text/css" href="/css/index_css.css" />
</head>
<body>
    <form>
        <div id="box">
            ID : &nbsp;   <input autofocus><br>
            PW :          <input>
        </div>
        <div id="box">
            &nbsp;
        </div>
        <div id="box">
            <button type="submit">sub<br>mit</button>
        </div>
    </form><br><br><br>
    <div id="reg">
        <a href="/sign-up">Sign-Up</a> | 
        <a href="/sign-in">Sign-In</a>
    </div>
</body>
</html>