<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-up</title>
    <link rel="stylesheet" type="text/css" href="/css/sign-up.css" />
</head>
<body>
    <form method="post">
        <input type="text" placeholder="id" autofocus name="id"><br>
        <input type="password" placeholder="password" name="pw"><br>
        <input type="text" placeholder="nickname" name="name"><br>
        <input type="email" placeholder="email" name="email"><br>
        <button type="submit">submit</button>
    </form>
    <a href="/">index</a>
</body>
</html>