<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign-in</title>
    <link rel="stylesheet" type="text/css" href="/css/update_sign-in.css" />
</head>
<body>
    <form action="/update-logic" method="post">
        아이디 : <input type="text" value="<%= data.id %>" autofocus name="id"><br>
        닉네임 : <input type="text" value="<%= data.name %>" name="nickname"><br>
        이메일 : <input type="text" value="<%= data.email %>" name="email"><br>
        <div>
            <button type="submit">수정</button>
        </div>
    </form>
    <div>
        <form><button type="submit">삭제</button></form>
    </div>
    <div>
        <form><button type="submit">뒤로</button></form>
    </div>
</body>
</html>